{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Saira:ital,wght@1,100&display=swap" rel="stylesheet"> 

    <title>First Horizon</title>
</head>
<body>

    <header id="header_grid">
        <a href=""><div class="header_nav" id="logo">First H<img src="img/img_logo_sound.png" alt="img_text_logo">rizon</div></a>
        <a href="#down_page"><div class="nav_button" id="download_header">Download</div></a>
        <a href="#about_page"><div class="nav_button" id="about_header">About Us</div></a>
        <div class="contact">
            <p id="number">+7 (960) 328 70-87</p>
            <p id="email">nikves29012001@gmail.com</p>
        </div>
    </header>

    <a href="#header_grid"><button onclick="scroll()" id="button_scroll"><img src="img/top.png" alt="scrollTop"></button></a>

    <div class="intro_page">
        <div id="title_body">First H<img src="img/img_logo_sound-1.png" alt="img_text_logo">rizon</div>
        <img id="logo_body" src="img/img_body.png" alt="image_body_intro">
    </div>

    <div class="download_page" id="down_page">
        <p class="title_page">Download Free</p>
        <p class="text_download_page">First Horizon may be downloaded and evaluated for free, however a license must be purchased for continued use. There is currently no enforced time limit for the evaluation.</p>
        <button id="button_down"><img src="img/download_button_img.png" alt="image_download" id="image_button_down"><p id="text_button_down">Download</p></button>
    </div>

    <div class="about_page" id="about_page">
        <img src="img/information_img.png" alt="image_info" class="image_info">
        <p class="title_about">About Us</p>
        <p class="text_about">We are a company that develops new ways to share your music by combining innovative
            software with a friendly face. Our main product is a device that you can use wherever
            you are and implements our groundbreaking technology. Our target audience is couples.
            We want to convey a sense of elegance, while at the same time being down-to-earth.
            <br><a href="/about_page">Подробнее...</a>
        </p>
    </div>

    <footer>
        <hr id="left_line">
        <div class="image_logo_contact">
            <a href="https://www.instagram.com/rakova9opuxol/" class="link_contact"><img src="img/instagram_logo.png" alt="" class="img_contact"></a>
            <a href="https://t.me/insearchofmyself666" class="link_contact"><img src="img/telegram_logo.png" alt="" class="img_contact"></a>
            <a href="https://vk.com/luc143r" class="link_contact"><img src="img/vk_logo.png" alt="" class="img_contact"></a>
            <a href="https://discord.gg/XVtXuj6bxW" class="link_contact"><img src="img/discord_logo.png" alt="" class="img_contact"></a>
            <a href="https://github.com/StupidDeveloper13" class="link_contact"><img src="img/github_logo.png" alt="" class="img_contact"></a>
        </div>
        <hr id="right_line">
    </footer>

</body>
</html>